@charset "utf-8";

//変数
$themeRed: #a83333;

//メディアクエリ
@mixin pc {
  @media (min-width: 770px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 770px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 380px) {
    @content;
  }
}

/* base.css */

/* common */

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  /* Safari: 勝手にフォントサイズを大きくしない */
  -webkit-text-size-adjust: 100%;
  /* Safari: ゴシック体にする */
  font-family: sans-serif;

  @include pc {
    padding: 3rem;
  }

  @include tablet {
    padding: 0;
  }


  font-family: 'Noto Sans JP',
  sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  max-width: 1500px;
}

img {
  max-width: 100%;
  height: auto;
}

.global-wrapper {
  background-color: #F4F3F2;
}

.text-center {
  text-align: center;
}


.pc_display_none {
  @include pc {
    display: none;
  }
}

.tablet_display_none {
  @include tablet {
    display: none;
  }
}

.sp_display_none {
  @include sp {
    display: none;
  }
}

.text-center {
  text-align: center;
}

/* page-header */

.page-header {
  box-shadow: 0 2.5rem 4rem rgba(#343434, .5);

  @include pc {
    display: flex;
  }

  &__outer {
    background-color: $themeRed;
    opacity: 0.9;
    padding: 18px 18px 0 18px;
    flex: 0 0 auto;

    @include tablet {
      padding-top: 10px;
    }

    @include sp {
      padding: 8px 10px 0;
    }
  }

  &__title {
    font-weight: 500;
    color: #fff;

    @include pc {
      margin-bottom: 50px;
    }


    @include tablet {
      font-size: 15px;
      padding-bottom: 10px;
    }

    @include sp {
      font-size: 15px;
      padding-bottom: 10px;
    }
  }

  &__title:before {
    content: '';
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 50px;
    /*画像の高さ*/
    background-image: url(../images/step1-icon_wht.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
  }

  &__title2:before {
    content: '';
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 50px;
    /*画像の高さ*/
    background-image: url(../images/step2-icon_wht.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
  }

  &__title3:before {
    content: '';
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 50px;
    /*画像の高さ*/
    background-image: url(../images/step3-icon_wht.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
  }

  &__nav {
    @include tablet {
      display: none;
    }

    @include sp {
      display: none;
    }

    @include pc {
      display: block;
    }
  }

  &__item {
    padding-bottom: 40px;
  }

  &__list {
    color: #fff;
    opacity: 0.7;
    display: block;
  }

  &__list:hover {
    color: rgb(203, 203, 203);
  }

  &__active {
    color: #fff;
    font-weight: 500;
  }

  &__sub-nav {
    @include tablet {
      display: none;
    }

    @include sp {
      display: none;
    }

    @include pc {
      display: block;
      padding-left: 10px;
    }

    &_item {
      padding-bottom: 30px;
    }

    &_list {
      font-size: 1.4rem;
      color: #fff;
      opacity: 0.7;
      display: block;
    }

    &_list:hover {
      color: rgb(203, 203, 203);
    }
  }

}


/* page-top_btn */
.btn-pageTop {
  display: block;
  margin-left: auto;
  margin-top: 30px;
  padding-right: 10px;

}

.btn-pageTop:hover {
  opacity: 0.6;
}

/* page-link */
.page-link {
  &__title {
    font-weight: 500;
    font-size: 1.6rem;
    padding-bottom: 8px;

    @include tablet {
      font-size: 1.6rem;

    }

    @include pc {
      font-size: 2rem;

    }
  }

  &__title::after {
    content: "\f105";
    font-family: FontAwesome;
    position: relative;
    left: 3px;
    font-weight: 500;
  }


  &__title1:before {
    content: '';
    /*何も入れない*/
    display: block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 55px;
    /*画像の高さ*/
    background-image: url(../images/step1-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title2:before {
    content: '';
    /*何も入れない*/
    display: block;
    /*忘れずに！*/
    width: 78px;
    /*画像の幅*/
    height: 55px;
    /*画像の高さ*/
    background-image: url(../images/step2-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title3:before {
    content: '';
    /*何も入れない*/
    display: block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 55px;
    /*画像の高さ*/
    background-image: url(../images/step3-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.link-active {
  position: relative;
  display: inline-block;
  transition: .3s;
}

.link-active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: $themeRed;
  transition: .3s;
}

.link-active:hover::after {
  width: 100%;
}


.link-outer {
  padding: 7% 7%;
  text-align: right;

  @include tablet {
    padding: 2% 3%;
  }

  &__index {
    padding: 0 14% 7%;
    text-align: left;

    @include tablet {
      padding: 2% 4%;
      text-align: right;
    }
  }
}

/* thumb-nav */
.thumb-nav {
  background-color: #F4F3F2;
  padding: 0 4% 0;

  @include pc {
    padding: 2% 7%;
  }

  &__wrapper {
    background-color: rgb(237, 237, 237);
    box-shadow: 0 2.5rem 4rem rgba(#343434, .5);
    padding: 35px 0 10px;
  }

  &__outer {
    display: flex;
    justify-content: center;

    @include pc {
      padding: 0;
      margin: 0 auto;
      margin-bottom: 7%;
    }

  }

  &__item {
    flex: 0 0 30%;

    @include sp {
      flex: 0 0 40%;
    }


    &_title {
      font-size: 1.6rem;
      font-weight: 500;
      padding: 4% 1%;

      @include tablet {
        font-size: 1.5rem;
      }

      @include sp {
        font-size: 1rem;
      }
    }

    &_img {
      transition: all .2s;
    }

    &_img:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(#343434, .5);
      z-index: 20;
      opacity: 0.9;
    }

  }


  &__icon {
    transition: all .2s;
  }

  &__icon:hover {
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(#343434, .5);
    z-index: 20;
    opacity: 0.9;
  }


  &__inner {
    text-align: center;

    &_title {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      padding: 10px;

      // @include tablet {
      //   font-size: 1.9rem;
      // }

      @include pc {
        font-size: 1.8rem;
      }
    }
  }

  &__sub-wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2.5rem 4rem rgba(#343434, .5);
    padding: 40px 0 40px;

    &_title {
      font-size: 2rem;
      text-align: center;
      font-weight: 500;
      margin-bottom: 30px;
    }
  }
}


.nav_item__left {
  margin-left: 10px;

  @include pc {
    margin-left: 45px;
  }
}


/* footer */
.page-footer {
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: solid 10px #393939;
  background-image: url(../images/bg-gra-top.png),
    url(../images/bg-gra-bottom.png);
  background-repeat: repeat-x;
  background-position: center top,
    center bottom;
  background-size: auto 48px;

  &__outer {
    padding: 1px 10px;

    @include tablet {
      padding: 1px 25px;
    }

    @include pc {
      padding: 40px 50px;
    }
  }

  &__head {
    font-size: 2.5rem;
    padding: 22px 0;
    border-bottom: solid $themeRed 0.4px;
    padding-bottom: 3px;
    width: 40%;

    &_active {
      color: rgb(66, 66, 66);
    }

    @include pc {
      width: 50%;
    }

    @include sp {
      width: 60%;
    }



    &_item:hover {
      color: rgb(169, 169, 169);
    }
  }

  &__inner {
    >li {
      font-size: 1.5rem;
      padding: 17px;
    }

    >li:first-of-type {
      padding-top: 25px;
    }


    >li:last-of-type {
      padding-bottom: 25px;
    }

    &_item {
      color: rgb(66, 66, 66);
    }

    &_item:hover {
      color: rgb(169, 169, 169);
    }

    &_active {
      color: rgb(0, 0, 0);
      font-weight: 500;
    }
  }

  &__block {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 3%;

    @include pc {
      display: block;
    }

    >li {
      font-size: 1.2rem;
      padding-left: 5%;
      flex: 0 0 120px;
      padding-bottom: 4%;

      @include tablet {
        font-size: 1.3rem;
        flex: 0 0 150px;
      }

      @include pc {
        display: inline-block;
        padding-left: 2%;
      }
    }

    &_project {
      color: rgb(66, 66, 66);
    }

    &_project:hover {
      color: rgb(169, 169, 169);
    }

    &_active {
      color: rgb(0, 0, 0);
      font-weight: 500;
    }
  }

  &__copy {
    color: rgb(66, 66, 66);
    font-size: 1.2rem;
  }

  &__active {
    color: #a83333;
  }

}

/* sns icon */
.sns_icon {
  color: #fff;

  &__facebook::before {
    content: "\f082";
    font-family: FontAwesome;
    position: relative;
    left: 5px;
    font-weight: 500;
    font-size: 1.5em;
  }

  &__twitter::before {
    content: "\f099";
    font-family: FontAwesome;
    position: relative;
    left: 5px;
    font-weight: 500;
    font-size: 1.5em;
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    padding-left: 20px;
  }

  &__outer {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
}

.sns_icon:hover {
  color: rgb(203, 203, 203);
}