@charset "utf-8";

//変数
$themeRed: #a83333;

//メディアクエリ

@mixin l-pc {
  @media (min-width:1300px) {
    @content;
  }
}

@mixin l-pc-1200 {
  @media (min-width:1200px) {
    @content;
  }
}

@mixin tab-770 {
  @media (max-width: 770px) {
    @content;
  }
}

@mixin menu-890 {
  @media (max-width: 890px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 770px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 770px) {
    @content;
  }
}

@mixin l-sp {
  @media (max-width: 553px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 380px) {
    @content;
  }
}

/* base.css */

/* common */

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  /* Safari: 勝手にフォントサイズを大きくしない */
  -webkit-text-size-adjust: 100%;
  /* Safari: ゴシック体にする */
  font-family: sans-serif;

  // @include pc {
  //   padding: 3rem;
  // }

  @include tablet {
    padding: 0;
  }

  font-family: "Noto Sans JP",
  sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  max-width: 1500px;
}

img {
  max-width: 100%;
  height: auto;
}

.global-wrapper {
  background-color: #f4f3f2;
}

.text-center {
  text-align: center;
}

.pc_display_none {
  @include pc {
    display: none;
  }
}

.tablet_display_none {
  @include tablet {
    display: none;
  }
}

.sp_display_none {
  @include sp {
    display: none;
  }
}

.ls-sp_display_none {
  @include l-sp {
    display: none;
  }
}

.text-center {
  text-align: center;
}

/* page-header */

.page-header {
  box-shadow: 0 2.5rem 4rem rgba(#343434, 0.5);

  @include pc {
    display: flex;
  }

  &__outer {
    background-color: $themeRed;
    opacity: 0.9;
    padding: 18px 18px 0 18px;
    flex: 0 0 auto;

    @include tablet {
      padding-top: 10px;
    }

    @include sp {
      padding: 8px 10px 0;
    }
  }

  &__title {
    font-weight: 500;
    color: #fff;

    @include pc {
      margin-top: 27px;
      margin-bottom: 50px;
    }

    @include tablet {
      font-size: 15px;
      padding-bottom: 10px;
    }

    @include sp {
      font-size: 15px;
      padding-bottom: 10px;
    }
  }

  &__title:before {
    content: "";
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 50px;
    /*画像の高さ*/
    background-image: url(../images/step1-icon_wht.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
  }

  &__title2:before {
    content: "";
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 50px;
    /*画像の高さ*/
    background-image: url(../images/step2-icon_wht.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
  }

  &__title3:before {
    content: "";
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 50px;
    /*画像の高さ*/
    background-image: url(../images/step3-icon_wht.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
  }

  &__nav {
    @include tablet {
      display: none;
    }

    @include sp {
      display: none;
    }

    @include pc {
      display: block;
    }
  }

  &__item {
    padding-bottom: 40px;
  }

  &__list {
    color: #fff;
    display: block;
    transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
  }

  &__list:hover {
    opacity: 0.6;
  }

  &__active {
    color: rgb(223, 225, 86);
    font-weight: 500;
  }

  &__sub-nav {
    @include tablet {
      display: none;
    }

    @include sp {
      display: none;
    }

    @include pc {
      display: block;
      padding-left: 10px;
    }

    &_item {
      padding-bottom: 30px;
    }

    &_list {
      font-size: 1.4rem;
      color: #fff;
      transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
      display: block;
    }

    &_list:hover {
      opacity: 0.6;
    }
  }
}

/* page-top_btn */
.btn-pageTop {
  display: none;
  margin-left: auto;
  margin-top: 30px;
  padding-right: 10px;
  position: fixed;
  right: 0;
}

.btn-pageTop:hover {
  opacity: 0.6;
}

.btn-pageTop2 {
  display: block;
  margin-left: auto;
  margin-top: 30px;
  padding-right: 10px;
  // position: fixed;
  right: 0;
}

.btn-pageTop2:hover {
  opacity: 0.6;
}

/* page-link */
.page-link {
  &__title {
    font-weight: 500;
    font-size: 1.6rem;
    padding-bottom: 8px;

    @include tablet {
      font-size: 1.6rem;
    }

    @include pc {
      font-size: 2rem;
    }
  }

  &__title::after {
    content: "\f105";
    font-family: FontAwesome;
    position: relative;
    left: 3px;
    font-weight: 500;
  }

  &__title1:before {
    content: "";
    /*何も入れない*/
    display: block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 55px;
    /*画像の高さ*/
    background-image: url(../images/step1-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title2:before {
    content: "";
    /*何も入れない*/
    display: block;
    /*忘れずに！*/
    width: 78px;
    /*画像の幅*/
    height: 55px;
    /*画像の高さ*/
    background-image: url(../images/step2-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title3:before {
    content: "";
    /*何も入れない*/
    display: block;
    /*忘れずに！*/
    width: 80px;
    /*画像の幅*/
    height: 55px;
    /*画像の高さ*/
    background-image: url(../images/step3-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.link-active {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}

.link-active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: $themeRed;
  transition: 0.3s;
}

.link-active:hover::after {
  width: 100%;
}

.link-outer {
  padding: 4% 3% 2%;
  text-align: right;

  @include tablet {
    padding: 2% 3%;
  }

  &__index {
    padding: 0 14% 7%;
    text-align: left;

    @include tablet {
      padding: 2% 4%;
      text-align: right;
    }
  }
}

/* thumb-nav */
.thumb-nav {
  background-color: #f4f3f2;
  padding: 0 4% 0;

  @include pc {
    padding: 8% 7% 0;
  }

  &__wrapper {
    background-color: rgb(237, 237, 237);
    box-shadow: 0 2.5rem 4rem rgba(#343434, 0.5);
    padding: 35px 0 10px;
  }

  &__outer {
    display: flex;
    justify-content: center;

    @include pc {
      padding: 0;
      margin: 0 auto;
      margin-bottom: 7%;
    }
  }

  &__item {
    flex: 0 0 30%;

    @include sp {
      flex: 0 0 40%;
    }

    &_title {
      font-size: 1.6rem;
      font-weight: 500;
      padding: 4% 1%;

      @include tablet {
        font-size: 1rem;
      }

      @include sp {
        font-size: 1rem;
      }
    }

    &_img {
      transition: all 0.2s;
    }

    &_img:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(#343434, 0.5);
      z-index: 20;
      opacity: 0.9;
    }
  }

  &__icon {
    transition: all 0.2s;
  }

  &__icon:hover {
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(#343434, 0.5);
    z-index: 20;
    opacity: 0.9;
  }

  &__inner {
    text-align: center;

    &_title {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      padding: 10px 5px;

      @include pc {
        font-size: 1.8rem;
      }
    }
  }

  &__sub-wrapper {
    &_head {
      font-size: 4rem;
      text-align: center;
      font-weight: 500;
      margin-bottom: 10px;

      @include l-sp {
        font-size: 3rem;
        padding-top: 25px;
      }
    }

    &_title {
      font-size: 2rem;
      text-align: center;
      font-weight: 500;
      margin-bottom: 30px;
    }

    &_title::after {
      content: "\f107";
      font-family: FontAwesome;
      position: relative;
      left: 5px;
    }
  }
}

.nav_item__left {
  margin-left: 10px;

  @include pc {
    margin-left: 45px;
  }
}

/* footer */
.page-footer {
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: solid 10px #393939;
  background-image: url(../images/bg-gra-top.png),
    url(../images/bg-gra-bottom.png);
  background-repeat: repeat-x;
  background-position: center top, center bottom;
  background-size: auto 48px;

  &__outer {
    padding: 1px 10px;

    @include tab-770 {
      padding: 40px 6px 6px;
    }

    @include l-pc-1200 {
      padding: 40px 100px 6px;
    }

    @include l-pc {
      padding: 40px 200px 6px;
    }
  }

  &__sp-outer {
    @include l-sp {
      padding: 40px 30px 7px;
    }

  }

  &__block {
    flex: 0 0 30%;

    @include tab-770 {
      flex: 0 0 32%;
    }

  }


  &__title {
    display: flex;
    align-items: center;
    padding: 8px;
    transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
    font-size: 1.2rem;

    @include tab-770 {
      font-size: 1.1rem;
    }
  }

  &__title::before {
    display: block;
    content: '';
    width: 12px;
    height: 1px;
    position: relative;
    right: 7px;
    top: 1px;
    background-color: #666;
  }

  &__title:hover {
    opacity: 0.6;
  }

  &__active {
    display: flex;
    align-items: center;
    padding: 8px;
    font-weight: 500;
    font-size: 1.2rem;

    @include tab-770 {
      font-size: 1.1rem;
    }
  }

  &__active::before {
    display: block;
    content: '';
    width: 12px;
    height: 1px;
    position: relative;
    right: 7px;
    top: 1px;
    background-color: $themeRed;
  }


  &__subtitle {
    display: inline-block;
    padding-left: 10px;
  }

  &__project {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
  }

  &__project::before {
    content: "\f103";
    font-family: FontAwesome;
    position: relative;
    top: 2px;
    right: 5px;
    color: #111;
  }

  &__project-outer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
  }

  &__project-item {
    flex: 0 0 33%;
    transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 1rem;

    @include l-sp {
      flex: 0 0 26%;
    }

    &_active {
      flex: 0 0 33%;
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 1rem;
      font-weight: 500;
    }

    &_active>a {
      border-bottom: $themeRed solid 1px;
      padding-bottom: 2px;
    }
  }

  &__project-item:hover {
    opacity: 0.6;
  }


  &__sns-outer {
    display: flex;
    justify-content: center;

    @include l-sp {
      padding: 10px;
    }

    &-share {
      font-size: 1.2rem;
      padding: 5px;
      font-family: 'Lato',
        sans-serif;
    }

    &-share::after {
      content: "\f105";
      font-family: FontAwesome;
      position: relative;
      left: 5px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;

    @include l-sp {
      display: block;
    }
  }

  &__link {
    @include l-sp {
      padding: 12px;
    }
  }


  &__sns {
    transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
  }

  &__sns:hover {
    opacity: 0.6;
  }

  &__logo {
    width: 100px;
  }

  &__copy {
    color: rgb(66, 66, 66);
    font-size: 0.9rem;
    padding-top: 13px;
    padding-left: 12px;

    @include l-sp {
      padding-top: 1px;
    }
  }

}

/* sns icon */
.sns_icon {
  color: #fff;
  transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);

  &__text {
    color: #fff;
    padding-right: 23px;
    padding-top: 5px;
    font-size: 1.2rem;
  }

  &__facebook::before {
    content: "\f082";
    font-family: FontAwesome;
    position: relative;
    left: -8px;
    font-size: 1.2em;
  }

  &__twitter::before {
    content: "\f099";
    font-family: FontAwesome;
    position: relative;
    left: -14px;
    font-size: 1.2em;
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    padding-left: 20px;
    font-family: 'Lato',
      sans-serif;

    &-head::after {
      content: "\f105";
      font-family: FontAwesome;
      position: relative;
      left: 5px;
      font-weight: 500;
    }
  }

  &__outer {
    @include menu-890 {
      display: none;
    }
  }
}

.sns_icon:hover {
  opacity: 0.6;
}

.pdf {
  transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
}

.pdf:after {
  content: " ";
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../images/pdf_icon.svg) no-repeat;
  vertical-align: middle;
}

.pdf:hover {
  opacity: 0.6;
}

.pdf2 {
  color: #fff;
  transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
}

.pdf2:after {
  content: " ";
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../images/pdf2_icon.svg) no-repeat;
  vertical-align: middle;
}

.pdf2:hover {
  opacity: 0.6;
}

.link-top {
  padding-top: 10px;
}


/* play icon */

.play-list {
  margin-bottom: 50px;

  &__outer {
    border: #fff solid 1px;
    padding: 15px;
  }

  &__title {
    padding: 10px;
    color: rgb(213, 215, 77);
  }

  &__item {
    padding: 10px;
    color: #fff;
  }

  &__item>a {
    color: #fff;
    transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
    display: block;
  }


}


#play::after {
  content: "\f04b";
  font-family: FontAwesome;
  position: relative;
  left: 28px;
  color: #fff;
}

#play:hover {
  opacity: 0.6;
}

#previous::before {
  content: "\f048 ";
  font-family: FontAwesome;
  position: relative;
  left: 0px;
  color: #fff;
}

#previous:hover {
  opacity: 0.6;
}

#next::after {
  content: "\f051";
  font-family: FontAwesome;
  position: relative;
  left: 6px;
  color: #fff;
}

#next:hover {
  opacity: 0.6;
}

#pause::after {
  content: "\f04d";
  font-family: FontAwesome;
  position: relative;
  left: 15px;
  color: #fff;
}

#pause:hover {
  opacity: 0.6;
}

#first::before {
  content: "\f049";
  font-family: FontAwesome;
  position: relative;
  right: 1px;
  color: #fff;
}

#first:hover {
  opacity: 0.6;
}

#last::after {
  content: "\f050";
  font-family: FontAwesome;
  position: relative;
  left: 6px;
  color: #fff;
}

#last:hover {
  opacity: 0.6;
}

// パンくず

.breadcrumb {
  padding: 30px;

  &__item {
    transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
    display: inline-block;
    padding: 0 4px;
  }

  &__arrow::after {
    content: "\f105";
    font-family: FontAwesome;
    position: relative;
    left: 3px;
  }

  &__item:hover {
    opacity: 0.6;
  }

  &__current {
    display: inline-block;
    padding: 0 4px 3px 4px;
    border-bottom: $themeRed solid 1px;
  }
}

// arrow

.arrow {
  transition: opacity 0.5s cubic-bezier(0.25, 0.87, 0.41, 1);
}

.arrow::after {
  content: "\f105";
  font-family: FontAwesome;
  position: relative;
  left: 3px;
}

.arrow:hover {
  opacity: 0.6;
}


// スライドの矢印

.scroll-box {

  @include menu-890 {
    display: none;
  }

  &__outer {
    z-index: 1;
    position: relative;
  }

  &__arrowWrap {
    z-index: 10;
    position: relative;
  }

  &__arrow {
    z-index: 10;
    width: 15px;
    margin: 0 auto;
    animation: arrow 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite alternate;

    &_text {
      color: #fff;
      position: absolute;
      top: -64px;
      left: -13px;
      font-family: 'Lato',
        sans-serif;
    }
  }

}


.scroll-box .scroll-box__arrow span {
  position: relative;
  display: block;
  left: 50%;

  @include menu-890 {
    display: none;
  }

}

.scroll-box__arrow span:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 1px #FFF;
  border-right: solid 1px #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: -80px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;

  @include menu-890 {
    display: none;
  }

}

@keyframes arrow {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%, -8px, 0);
    transform: translate3d(-50%, -8px, 0);
  }
}