@charset "utf-8";

//変数
$themeRed: #a83333;

//メディアクエリ
@mixin pc {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 760px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 380px) {
    @content;
  }
}

/* base.css */

/* common */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP',
    sans-serif;
  font-size: 1.6rem;
  // font-feature-settings: "palt";
  // letter-spacing: 0.09em;
  // line-height: 1.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F3F2;
  margin: 0 auto;
  max-width: 1500px;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}


.pc_display_none {
  @include pc {
    display: none;
  }
}

.tablet_display_none {
  @include tablet {
    display: none;
  }
}

.sp_display_none {
  @include sp {
    display: none;
  }
}

/* page-header */

.common-header {
  background: url(../images/header_step1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;

  @include tablet {
    height: 500px;
  }

  @include pc {
    height: 780px;
  }


  &__label {
    // background-color: $themeRed;
    // opacity: 0.8;
    background-color: rgba(168, 51, 51, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 46%;
    padding: 2% 3%;
    transform: translate(0, 230px);

    @include tablet {
      transform: translate(0, 330px);
    }

    @include pc {
      width: 34%;
      transform: translate(30px, 30px);
    }
  }

  &__icon {
    padding-right: 10%;
    flex: 0 0 35%;

    @include pc {
      padding-right: 10%;
      flex: 0 0 26%;
      font-size: 3rem;
      padding-right: 45px;
    }
  }

  &__title {
    font-size: 3.2vw;
    color: #fff;
    font-weight: 500;
    line-height: 1.4;
    padding-top: 2%;

    @include pc {
      font-size: 2.7rem;
    }
  }
}

.replace-img2 {
  background: url(../images/header_step2.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 40vh;

  @include tablet {
    height: 500px;
  }

  @include pc {
    height: 800px;
  }
}


.replace-title2 {
  font-size: 3vw;
  color: #fff;
  font-weight: 500;
  line-height: 1.4;
  padding-top: 2%;

  @include pc {
    font-size: 2rem;
  }
}

.replace-icon2 {
  padding-right: 10%;

  @include pc {
    padding-right: 10%;
    flex: 0 0 26%;
    font-size: 3rem;
    padding-right: 45px;
  }
}

.replace-img3 {
  background: url(../images/header_index-3.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;

  @include tablet {
    height: 500px;
  }

  @include pc {
    height: 700px;
  }
}

.replace-label {
  transform: translate(0, 40px);
}


/* page-top_btn */
.btn-pageTop {
  display: block;
  margin-left: auto;
  padding-right: 5%;
}

.btn-pageTop:hover {
  opacity: 0.6;
}


/* page-link */
.page-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__icon {
    padding-right: 5%;
    flex: 0 0 30%;

    @include pc {
      flex: 0 0 12%;
    }
  }

  &__icon:hover {
    opacity: 0.6;
  }

  &__title {
    font-size: 5vw;
    margin-top: 6%;
    line-height: 1.9;

    @include tablet {
      margin-top: 40px;
      font-size: 2.5rem;
    }
  }

  &__title::after {
    content: "\f105";
    font-family: FontAwesome;
    position: relative;
    left: 3px;
  }

  &__title:hover {
    color: rgb(169, 169, 169);
  }
}

.link-outer {
  padding: 7% 7%;
}

/* thumb-nav */
.thumb-nav {
  padding: 0 4% 7%;


  &__outer {
    display: flex;
    justify-content: center;

    @include pc {
      padding: 0;
      max-width: 750px;
      margin: 0 auto;
    }

  }

  &__outer:first-of-type {
    margin-bottom: 7%;
  }

  &__item {
    margin-left: 2%;

    @include tablet {
      margin-left: 4%;
    }

    &_title {
      font-size: 1.4rem;
      font-weight: 500;
      padding: 4% 1%;

      @include tablet {
        font-size: 1.9rem;
      }
    }
  }
}

.nav_item__left {
  margin-left: 0;
}


/* footer */
.page-footer {
  background-color: #ffffff;
  box-sizing: border-box;
  border-bottom: solid 10px #393939;
  background-image: url(../images/bg-gra-top.png),
    url(../images/bg-gra-bottom.png);
  background-repeat: repeat-x;
  background-position: center top,
    center bottom;
  background-size: auto 48px;

  &__outer {
    padding: 7px 25px;

    @include tablet {
      padding: 20px 100px;
    }

    @include pc {
      padding: 40px 200px;
    }
  }

  &__head {
    font-size: 2.6rem;
    padding: 22px 0;
    border-bottom: solid $themeRed 0.4px;
    padding-bottom: 3px;
    width: 60%;

    &_active {
      color: rgb(66, 66, 66);
    }

    @include tablet {
      width: 40%;
    }

    @include pc {
      width: 50%;
    }

    &_item:hover {
      color: rgb(169, 169, 169);
    }
  }

  &__inner {
    >li {
      font-size: 1.5rem;
      padding: 17px;
    }

    >li:first-of-type {
      padding-top: 25px;
    }


    >li:last-of-type {
      padding-bottom: 25px;
    }

    &_item {
      color: rgb(66, 66, 66);
    }

    &_item:hover {
      color: rgb(169, 169, 169);
    }

    &_active {
      color: rgb(0, 0, 0);
      font-weight: 500;
    }
  }

  &__block {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3%;

    >li {
      font-size: 1.2rem;
      padding-left: 5%;
      flex: 0 0 120px;
      padding-bottom: 4%;

      @include tablet {
        font-size: 1.3rem;
        flex: 0 0 150px;
      }
    }

    &_project {
      color: rgb(66, 66, 66);
    }

    &_project:hover {
      color: rgb(169, 169, 169);
    }

    &_active {
      color: rgb(0, 0, 0);
      font-weight: 500;
    }
  }

  &__copy {
    color: rgb(66, 66, 66);
    font-size: 1.2rem;
  }

  &__active {
    color: #a83333;
  }

}