@charset "utf-8";

//変数
$themeRed: #a83333;

//メディアクエリ
@mixin pc {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 760px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 350px) {
    @content;
  }
}

/* ヘッダースライド */
.bg-switcher {
  background-color: rgb(11, 11, 11);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  position: relative;

  @include tablet {
    height: 500px;
  }

  @include pc {
    height: 680px;
  }

  @include sp {
    height: 200px;
  }
}

/* index */
.page-header {
  &__logo {
    font-size: 5vw;
    padding-left: 8%;
    transform: translate(0, 60px);
    font-family: "Noto Sans SC", sans-serif;
    color: rgb(66, 66, 66);
    text-shadow: 0 0.3px #fff;
    border-bottom: solid $themeRed 0.4px;
    padding-bottom: 4px;
    width: 40%;

    @include pc {
      font-size: 6rem;
      font-weight: 200;
      transform: translate(0, 190px);
      padding-left: 7%;
      border-bottom: solid $themeRed 1.9px;
      padding-bottom: 4px;
      width: 480px;
      font-feature-settings: "palt";
      letter-spacing: 0.01em;
    }
  }

  &__caption {
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.6;
    padding-left: 8%;
    transform: translate(0, 67px);

    @include pc {
      padding-left: 8%;
      font-size: 1.5rem;
      line-height: 1.3;
      font-feature-settings: "palt";
      letter-spacing: 0.09em;
      transform: translate(0, 88px);
    }
  }
}

.main-article {
  background: url(../images/index_bgi.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 7%;

  &__wrapper {
    max-width: 850px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    padding: 55px 0 32px 0;

    @include pc {
      font-size: 2.5rem;
      padding: 90px 0 42px 0;
    }
  }

  &__block {
    line-height: 1.5;
    margin-bottom: 20px;

    @include pc {
      line-height: 1.9;
      margin-bottom: 10px;
    }

    &_display-block {
      display: none;

      @include pc {
        display: block;
        margin-bottom: 70px;
      }
    }
  }

  &__img {
    text-align: center;
    padding: 0 2% 4%;

    @include pc {
      padding: 0 30%;
    }

    &_pc-figure {
      margin-bottom: 4%;

      @include tablet {
        text-align: center;
        padding: 3% 10% 1%;
      }
    }
  }

  &__btn {
    width: 100%;
    text-align: center;

    &_text {
      width: 200px;
      padding: 15px 10px;
      margin: 30px 0 80px 0;
      border: rgb(213, 213, 213) solid 1px;
      color: rgb(133, 133, 133);
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(#343434, 0.2);
      transition: all 0.5s;
      backface-visibility: hidden;
      font-size: 1.8rem;
    }

    &_text::after {
      content: "\f107";
      font-family: FontAwesome;
      position: relative;
      left: 10px;
    }

    &_text:hover {
      border: none;
      background-color: $themeRed;
      color: #fff;

      // transform: translateY(-0.3rem);
      // box-shadow: 0 1rem 2rem rgba(#343434, 0.2);
    }
  }
}

.section-wrapper {
  display: none;
}

.page-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5% 7%;

  @include pc {
    background: url(../images/index_section-bgi_mod.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__item {
    margin-bottom: 15%;
    // cursor: pointer;

    @include pc {
      margin-bottom: 7%;
    }
  }

  &__outer-row {
    @include pc {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include pc {
      &_item {
        flex: 0 0 50%;
      }
    }
  }

  &__outer-column {
    @include pc {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item:last-of-type {
    margin-bottom: 10%;
  }

  &__inner {
    padding-left: 5%;

    &_icon {
      width: 25%;
      margin-bottom: 2%;

      &_middle {
        width: 25%;
        margin-bottom: 2%;

        @include pc {
          width: 11%;
          margin-bottom: 2%;
        }
      }
    }

    &_title {
      font-weight: 500;
      font-size: 2rem;
      margin-bottom: 4%;
      // padding-left: 3%;
      font-family: "Kosugi", sans-serif;
      letter-spacing: 1;

      @include pc {
        font-size: 2.8rem;
        line-height: 1.4;
        color: #1e1e1e;
      }
    }

    &_arrow {
      text-align: center;
    }

    &_arrow::after {
      content: "\f107";
      font-family: FontAwesome;
      position: relative;
      left: 1px;
    }
  }

  &__paragraph {
    margin-bottom: 6%;
    padding: 2%;
    line-height: 1.8;

    @include pc {
      padding-left: 8%;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &_text-center {
      margin-bottom: 6%;
      padding: 2%;
      line-height: 1.8;

      @include pc {
        padding: 6% 6% 0;
        line-height: 1.8;
        margin-bottom: 0;
      }
    }
  }

  &__thumb {
    padding: 0 5% 8%;
    text-align: center;

    &_item {
      text-align: center;
      transition: all 0.2s;

      @include pc {
        padding: 0;
        margin-top: 150px;
      }
    }

    &_item:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(#343434, 0.5);
      z-index: 20;
      opacity: 0.9;
    }

    &_item2 {
      transition: all 0.2s;

      @include pc {
        text-align: center;
        transition: all 0.2s;
      }
    }

    &_item2:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(#343434, 0.5);
      z-index: 20;
      opacity: 0.9;
    }
  }

  &__btn {
    width: 100%;
    text-align: center;

    &_text {
      width: 150px;
      display: inline-block;
      padding: 15px 10px;
      margin-top: 8%;
      background-color: $themeRed;
      color: rgb(255, 255, 255);

      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(#343434, 0.2);
      transition: all 0.5s;
      backface-visibility: hidden;
    }

    &_text::after {
      content: "\f105";
      font-family: FontAwesome;
      position: relative;
      left: 16px;
    }

    &_text:hover {
      border: $themeRed solid 1px;
      color: $themeRed;
      background-color: rgb(255, 255, 255);
      font-size: 1.8rem;
      backface-visibility: hidden;
    }
  }
}

.page-link {
  display: none;

  @include tablet {
    display: none;
  }

  @include pc {
    display: inline-block;
    overflow: hidden;
  }

  &__boxOuter {
    padding: 0 20% 32px 10%;
    opacity: 0.8;
  }

  &__text {
    font-size: 3rem;
    transform: translate(152px, 32px);

    // @include tablet {
    //   display: none;
    //   font-size: 3.5rem;
    //   transform: translate(258px, 32px);
    // }

    // @include pc {
    //   display: none;
    //   font-size: 3.5rem;
    //   transform: translate(258px, 32px);
    // }
  }

  &__text::before {
    content: "";
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 31px;
    /*画像の幅*/
    height: 47px;
    /*画像の高さ*/
    background-image: url(../images/stepman_icon.png);
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      /*忘れずに！*/
      width: 57px;
      /*画像の幅*/
      height: 90px;
    }
  }

  &__title {
    font-size: 1.6rem;
    transform: translate(51px, 48px);

    @include tablet {
      font-size: 3rem;
      transform: translate(151px, 48px);
    }

    @include pc {
      font-size: 3rem;
      transform: translate(151px, 48px);
    }
  }

  &__caption {
    font-size: 1rem;
    transform: translate(61px, 56px);

    @include tablet {
      transform: translate(177px, 106px);
      font-size: 2rem;
      letter-spacing: 2px;
    }

    @include pc {
      transform: translate(188px, 68px);
      letter-spacing: 2px;
    }
  }
}

.page-link2 {
  &__outer {
    padding: 37px 31px;
  }

  &__text {
    font-size: 4.2rem;
    text-align-last: right;
    transition: all 0.3s ease;

    &_large {
      font-size: 2.5rem;
    }
    &_large::after {
      content: "\f105";
      font-family: FontAwesome;
      position: relative;
      left: 3px;
      font-weight: 500;
    }
  }

  &__text::before {
    content: "";
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 31px;
    /*画像の幅*/
    height: 47px;
    /*画像の高さ*/
    background-image: url(../images/stepman_icon.png);
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      /*忘れずに！*/
      width: 40px;
      /*画像の幅*/
      height: 61px;
    }
  }

  &__text:hover {
    color: $themeRed;
  }

  &__caption {
    text-align-last: right;
    padding-top: 7px;
  }
}

.page-goods {
  padding: 20px;

  &__wrapper {
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff679;
    box-shadow: 0 2.5rem 4rem rgba(#343434, 0.5);
    padding: 26px 44px 26px;
    overflow: hidden;

    @include pc {
      width: 70%;
    }
  }

  &__outer {
    @include tablet {
      display: flex;
      justify-content: center;
    }
  }

  &__img {
    @include tablet {
      flex: 0 0 40%;
    }
  }

  &__paragraph {
    text-align: center;
    line-height: 1.5;
    margin-top: -28px;

    @include tablet {
      transform: translateY(30%);
    }

    @include pc {
      transform: translateY(32%);
    }
  }

  &__text {
    margin-bottom: 41px;
    font-size: 1.2rem;
    margin-bottom: 5px;
    padding-top: 10px;

    @include tablet {
      font-size: 1.7rem;
      margin-bottom: 12px;
    }

    @include pc {
      margin-bottom: 25px;
    }
  }

  &__btn {
    @include tablet {
      display: block;
    }

    &_text {
      display: block;
      text-align: center;
      font-family: "Nico Moji";
      background: rgb(255, 246, 121);
      font-size: 2rem;
      width: 200px;
      margin: 0 auto;
      padding: 10px;
      transition: all 0.2s;
    }

    &_text::after {
      content: "\f105";
      font-family: FontAwesome;
      position: relative;
      left: 1px;
      font-weight: 500;
    }

    &_text:hover {
      border: none;
      background: rgb(255, 239, 19);
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(#343434, 0.2);
    }
  }
}

.page-history {
  padding: 30px 20px;

  &__title {
    font-family: "Cormorant Garamond", serif;
    color: #343434;
    transition: all 0.3s ease;
  }

  &__title:hover {
    color: $themeRed;
  }

  &__wrapper {
    max-width: 80%;
    margin: 0 auto;
    background-color: #fffde6;
    box-shadow: 0 2.5rem 4rem rgba(#343434, 0.5);
    padding: 0 44px 26px;
    overflow: hidden;

    @include pc {
      width: 70%;
      padding: 26px 44px 26px;
    }
  }

  &__text {
    transform: translate(29px, 32px);

    @include tablet {
      font-size: 2.5rem;
      transform: translate(82px, 32px);
    }

    @include pc {
      font-size: 3.5rem;
      transform: translate(90px, 32px);
    }
  }

  &__text::before {
    content: "";
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 31px;
    /*画像の幅*/
    height: 47px;
    /*画像の高さ*/
    background-image: url(../images/stepman_icon.png);
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      /*忘れずに！*/
      width: 57px;
      /*画像の幅*/
      height: 90px;
    }
  }

  &__caption {
    transform: translate(34px, 56px);
    font-size: 1rem;

    @include tablet {
      transform: translate(86px, 106px);
      font-size: 2rem;
      letter-spacing: 2px;
    }

    @include pc {
      transform: translate(98px, 43px);
      letter-spacing: 2px;
    }
  }
}
