/* step3.css */
@charset "utf-8";

//変数
$themeRed: #a83333;

//メディアクエリ

@mixin l_pc {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 750px) {
    @content;
  }
}

@mixin s_sp {
  @media (max-width: 350px) {
    @content;
  }
}

.page-3-wrapper {
  padding: 3% 7%;
  max-width: 850px;
  margin: 0 auto;

  @include pc {
    padding: 2% 7% 0;
  }
}

.page3-article {

  &__title {
    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
    padding: 10px 0 22px 0;

    @include pc {
      font-size: 2.5rem;
      padding: 0;
      margin-bottom: 4%;
    }

  }

  &__img {
    text-align: center;
    padding-bottom: 8%;

    @include pc {
      max-width: 500px;
      margin: 0 auto;
      padding-bottom: 5%;
    }
  }

  &__paragraph {
    margin-bottom: 6%;
    padding: 2%;
    line-height: 1.9;
    font-feature-settings: "palt";

    @include pc {
      padding: 0;
      margin-bottom: 2%;
    }
  }

}

.page3-nav {

  &__item-wrapper {
    padding: 4% 0;
  }

  &__outer {
    @include pc {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2% 0;
    margin-left: 10px;

    @include pc {
      font-size: 2rem;
      padding: 1% 1% 2%;
    }
  }

  &__thumb {
    text-align: center;


    @include pc {
      flex: 0 0 45%;
    }

    &_pc-img {
      display: none;

      @include pc {
        display: block;
        width: 100px;
        margin-left: auto;
      }

      @include l_pc {
        display: block;
        width: 140px;
        padding-top: 3%;
        margin-left: auto;
      }
    }

    &__outer {
      @include pc {
        display: flex;
      }
    }

  }


  &__caption {
    padding: 4% 3%;
    font-size: 1.4rem;
    line-height: 1.4;
    font-feature-settings: "palt";

    @include pc {
      font-size: 1.5rem;
      padding: 2% 0 0 4%;
      line-height: 1.9;
    }
  }

  &__btn {

    &_text {
      width: 150px;
      margin: 0 auto;
      text-align: center;
      display: block;
      padding: 15px 10px;
      margin-top: 10%;
      border: none;
      background-color: $themeRed;
      color: #fff;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(#343434, 0.2);
      transition: all 0.5s;
    }

    &_text::after {
      content: "\f105";
      font-family: FontAwesome;
      position: relative;
      left: 16px;
    }

    &_text:hover {
      border: $themeRed solid 1px;
      color: $themeRed;
      background-color: rgba(255, 255, 255, 0);
      font-size: 1.8rem;
      backface-visibility: hidden;

    }
  }
}

.img-big {
  @include pc {
    display: block;
    width: 220px;
    padding-top: 8%;
    margin-left: auto;
  }

  @include l_pc {
    display: block;
    width: 220px;
    padding-top: 8%;
    margin-left: auto;
  }
}