/* step2.css */
@charset "utf-8";

//変数
$themeRed: #a83333;

//メディアクエリ
@mixin pc {
  @media (min-width: 750px) {
    @content;
  }
}

@mixin s_sp {
  @media (max-width: 350px) {
    @content;
  }
}

.page2-section {

  &__global-wrapper {
    padding: 0% 7% 0;

    @include pc {
      padding: 2% 7% 0;
    }
  }

  &__block {

    @include pc {
      max-width: 850px;
      margin: 0 auto;
    }

    &_back-yellow {
      background-color: #FFFDE8;
      padding: 8% 1% 10%;

      @include pc {
        padding: 4% 1% 0;
      }
    }

    &_yellow-outer {
      @include pc {
        max-width: 1000px;
        margin: 0 auto;
      }
    }

  }

  &__title {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.6;
    padding: 10px 0 22px 0;

    @include pc {
      font-size: 2.5rem;
      padding: 0;
      margin-top: 10px;
      margin-bottom: 15px;
    }

  }

  &__paragraph {
    margin-bottom: 6%;
    padding: 1px;
    line-height: 1.9;
    font-feature-settings: "palt";

    @include pc {
      margin-bottom: 10px;
      line-height: 2;
      padding: 2px 0;
    }

    &_line-hight {
      margin-bottom: 3%;
      line-height: 1.9;
      padding: 1px;

      @include pc {
        padding: 2px 0;
      }
    }

    &_bottom {
      @include pc {
        margin-bottom: 27px;
      }
    }
  }

  &__text-wrapper {
    @include pc {
      padding-bottom: 50px;
    }
  }

  &__img {
    text-align: center;
    padding-bottom: 8%;

    @include pc {
      margin: 10px 0;
      padding-bottom: 2%;
    }
  }

  &__img-outer {
    @include pc {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }

  &__caption {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.6;
    padding: 10px 0 20px 0;
  }

  &__subText {
    font-size: 0.8em;
    line-height: 1.6;

    @include pc {
      font-size: 1.2rem;
      line-height: 1.6;
    }

    &_time {
      @include pc {
        font-size: 1.1rem;
      }
    }
  }

  &__item-wrapper {
    @include pc {
      padding: 4%;
    }
  }

  &__item-outer {
    @include pc {
      display: flex;
      margin-bottom: 2%;
    }
  }

  &__label {
    color: #fff;
    font-weight: 600;
    background-color: $themeRed;
    display: inline;
    padding: 4px 8px;

    @include pc {
      padding: 2% 2.5%;
    }
  }

  &__description {
    font-size: 0.9em;
    padding: 5% 0 2%;
    line-height: 1.2;

    @include pc {
      padding: 2% 0 0 4%;
      font-size: 1.7rem;
    }
  }

  &__wrapper {
    margin-bottom: 6%;

    @include pc {
      margin-bottom: 2%;
    }
  }

  &__figure {
    text-align: center;
    padding: 0 5% 5%;

    @include pc {
      flex: 0 0 35%;
      padding: 0;
      margin-left: 10px;
    }
  }

  &__thumb {
    text-align: center;
    margin-bottom: 5%;

    &_title {
      padding-left: 4%;

      @include pc {
        max-width: 500px;
        margin: 0 auto;
        padding: 1% 0 0;
      }
    }

    &_small {
      text-align: center;
      padding: 0 6%;

      @include pc {
        max-width: 390px;
        margin: 0 auto;
        padding: 0;
      }
    }

    &_logo {
      width: 40%;
      margin: 0 auto;
      padding: 0 10% 2%;

      @include pc {
        flex: 0 0 35%;
        padding: 0;
      }
    }

    &_paragraph {
      padding: 6%;
      line-height: 1.6;

      @include pc {
        padding: 0;
        margin-top: 50px;
        margin-left: 80px;
      }
    }
  }

  &__outer {
    padding: 4%;

    @include pc {
      padding: 2% 6%;
    }

    &_note {
      font-size: 0.9em;
      line-height: 1.7;

      @include pc {
        max-width: 500px;
        margin: 0 auto;
        padding: 0;
      }
    }

    &_note-inner {
      font-size: 0.9em;
      line-height: 1.7;

      @include pc {
        padding-bottom: 1%;
      }
    }
  }

  &__thumb-outer {
    @include pc {
      display: flex;
      justify-content: center;
      margin-bottom: 2%;
      padding: 6% 10% 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;

    >p:last-child {
      padding-left: 4%;
    }

    @include pc {
      margin: 0 auto;
      padding: 1% 1% 0;
    }
  }

  &__cover {
    padding: 6% 10% 0%;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 500;

    @include pc {
      font-size: 1.8rem;
    }
  }

  &__btn {
    font-weight: 500;

    @include pc {
      margin-top: 50px;
      margin-left: 75px;
    }

    &-text {
      display: block;
      text-align: center;
      font-family: "Nico Moji";
      background: rgb(255, 246, 121);
      font-size: 2rem;
      width: 210px;
      margin: 0 auto;
      padding: 20px;
      transition: all 0.2s;
    }

    &-text::before {
      content: "";
      /*何も入れない*/
      display: inline-block;
      /*忘れずに！*/
      width: 24px;
      /*画像の幅*/
      height: 14px;
      /*画像の高さ*/
      background-image: url(../images/cursor_icon.png);
      background-size: contain;
      background-repeat: no-repeat
    }

    &-text::after {
      content: "\f105";
      font-family: FontAwesome;
      position: relative;
      left: 1px;
      font-weight: 500;
    }

    &-text:hover {
      border: none;
      background: rgb(255, 239, 19);
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(#343434, 0.2);
    }

    &-text2::before {
      content: "";
      /*何も入れない*/
      display: inline-block;
      /*忘れずに！*/
      width: 20px;
      /*画像の幅*/
      height: 26px;
      /*画像の高さ*/
      background-image: url(../images/stepman_icon.png);
      background-size: contain;
      background-repeat: no-repeat
    }

    &-text2 {
      display: block;
      text-align: center;
      font-family: 'Cormorant Garamond',
        serif;
      color: #343434;
      background-color: #FFFDE6;
      font-size: 1.7rem;
      width: 210px;
      margin: 0 auto;
      padding: 15px 20px;
      transition: all 0.2s;
    }

    &-text2::after {
      content: "\f105";
      font-family: FontAwesome;
      position: relative;
      left: 8px;
      font-weight: 500;
    }

    &-text2:hover {
      border: none;
      background-color: rgb(254, 250, 199);
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(#343434, 0.2);
    }

  }


  &__pc-flex-outer {
    @include pc {
      display: flex;
    }
  }

  &__note {
    quotes: '“''”';
  }

  &__note::before {
    content: open-quote;
  }

  &__note::after {
    content: close-quote;
  }
}

.text-center {
  text-align: center;
}